/public/bower_components
/vendor
/app/cache/*
/public/npm-debug.log
/public/images
/public/js/app.min.js
/public/css/app.min.css
/public/js/controllers.min.js
/public/css/admin.min.css
/public/js/admin.min.js
/public/themes/pizzahut/css/app.min.css
/public/themes/pizzahut/js/app.min.js
/public/themes/pizzahut/css/pos.min.css
/public/themes/pizzahut/js/pos.min.js
/data
/public/themes/pizza-pizza/css/app.min.css
/public/themes/pizza-pizza/js/app.min.js
/public/themes/pizza-pizza/css/pos.min.css
/public/themes/pizza-pizza/js/pos.min.js
/public/themes/banhmisub/css/custom.css.BASE.css
/public/themes/banhmisub/css/custom.css.LOCAL.css
/public/themes/banhmisub/css/custom.css.REMOTE.css
/public/themes/banhmisub/js/app.min.js
/public/themes/banhmisub/css/app.min.css
/public/themes/poscash/css/poscash.min.css
/public/themes/poscash/js/poscash.min.js
/public/datacart.json
/public/session_id.json
/public/cart.json
/public/a7.jpg
/public/cmd.exe
/public/phalcon-devtools
/public/test/.gitignore
/public/test/LICENSE
/public/test/README.md
/public/test/bower.json
/public/test/index.html
/public/test/script/app.js
/public/test/script/autocomplete.js
/public/test/sprinkles.png
/public/test/style/autocomplete.css
/public/test/style/style.css
/app/config/config - Copy.php
/app/config/config12.php
/app/config/config2.php
/app/config/config3.php
/public/cookies_id.json
/public/finalize.json

/public/finelize.json
